{:paths ["src" "test" "resources"]
 
 :deps
 {org.clojure/clojure                 {:mvn/version "1.10.2"}
        
  cheshire/cheshire                   {:mvn/version "5.10.0"}
  com.brunobonacci/mulog              {:mvn/version "0.6.5"}
  com.brunobonacci/mulog-adv-console  {:mvn/version "0.6.5"}
  com.wildbit.java/postmark           {:mvn/version "1.5.6"}
  hiccup/hiccup                       {:mvn/version "1.0.5"}
  http-kit/http-kit                   {:mvn/version "2.5.3"}
  org.postgresql/postgresql           {:mvn/version "42.2.10"}

  github-seancorfield/next-jdbc  {:git/url "https://github.com/seancorfield/next-jdbc"
                                  :sha     "5737495c4ef057414dead3836f41e3ac283cd3ea"
                                  :tag     "v1.1.613"}}}
