{"New York State COVID-19 Vaccine Appointment Availability Notifications"
 {:es "Notificaciones de disponibilidad de citas de vacunas COVID-19 del estado de Nueva York"}

 "Check the providers about which you’d like to be notified"
 {:es "Seleccione los proveedores sobre los que le gustaría recibir notificaciones"}

 "Indicates providers for which eligibility is restricted by residency"
 {:es "Indica proveedores para los que la elegibilidad está restringida por residencia"}

 "Enter the email address at which you’d like to be notified when the checked providers have new availability"
 {:es "Ingrese la dirección de correo electrónico en la que desea recibir una notificación cuando los proveedores seleccionados tengan una nueva disponibilidad"}

 "This service is operated by"
 {:es "Este servicio es operado por"}

 "with data from"
 {:es "con datos de"}

 "Click/tap the button below to create your subscription"
 {:es "Haga clic / toque el botón de abajo para crear su suscripción"}

 "Receive Notifications via Email"
 {:es "Recibir notificaciones por correo electrónico"}

 "Subscription Request Received"
 {:es "Solicitud de suscripción recibida"}

 "We have received your request to subscribe to appointment availability changes for the selected providers."
 {:es "Hemos recibido su solicitud para suscribirnos a los cambios de disponibilidad de citas para los proveedores seleccionados."}

 "If all goes well, you will receive a confirmation via email shortly."
 {:es "Si todo va bien, recibirá una confirmación por correo electrónico en breve."}

 "Once you click the link in that email, you’ll be subscribed."
 {:es "Una vez que haga clic en el enlace de ese correo electrónico, estará suscrito."}

 "Good luck!"
 {:es "¡Buena suerte!"}
 
 "Confirm your subscription to COVID-19 vaccination appointment updates"
 {:es "Confirme su suscripción a las actualizaciones de las citas de vacunación COVID-19"}

 "To verify your subscription to COVID-19 vaccination appointment updates, please open this link:"
 {:es "Para verificar su suscripción a las actualizaciones de las citas de vacunación COVID-19, abra este enlace:"}
 
 "If you did not request such notifications, you may ignore this email."
 {:es "Si no solicitó dichas actualizaciones, puede ignorar este correo electrónico."}

 "COVID-19 vaccination appointment updates"
 {:es "Actualizaciones de citas de vacunación COVID-19"}

 "These providers now DO have appointments available:"
 {:es "Estos proveedores ahora TIENEN citas disponibles:"}

 "These providers now do NOT have appointments available:"
 {:es "Estos proveedores ahora NO tienen citas disponibles:"}

 "Subscription verified"
 {:es "Suscripción verificada"}
}
